/*!
  * Item: Kitzu
  * Description: Personal Portfolio Template
  * Author/Developer: Exill
  * Author/Developer URL: https://themeforest.net/user/exill
  * Version: v1.1.0
  * License: Themeforest Standard Licenses: https://themeforest.net/licenses
  */

/*----------- ADD YOUR CUSTOM CSS STYLES BELOW -----------*/
.skill-item {
  margin-top: 20px;
  border: 1px solid #313131;
  background-color: #161616;
  padding: 30px 10px 10px 20px;
}

.heading-skills {
  margin-bottom: 10px !important;
}

.skill-title {
  margin-bottom: -40px !important;
}